@import "iconfont.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* ----- Clearing Base Styles Start ----- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1B1D1F;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea{
    outline: none;
    resize: none;
}

/* ----- Clearing Base Styles End ----- */

/* ----- Own Base Styles Start ----- */
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    color: #1B1D1F;
    font-family: 'Open Sans';
}

h2 {
    font-size: calc(44 / 18 * 1rem);
    font-weight: 300;
    line-height: calc(56 / 44 * 100%);
    text-align: center;
}

h3 {
    font-size: calc(44 / 18 * 1rem);
    font-weight: 300;
    line-height: calc(56 / 44 * 100%);
}
/* ----- Own Base Styles End ----- */

/* ----- Technical Styles Start ----- */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content__block {
    padding: 60px 0 80px 0;
}

.button {
    font-size: 1rem;
    line-height: calc(24.51 / 18 * 100%);
    font-weight: 600 !important;
    color: #000 !important;
    padding: 18px 30px;
    background: linear-gradient(180deg, #25CBFF 0%, #009EFF 100%) !important;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(0deg, #25CBFF 0%, #009EFF 100%) !important;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #1AA9E8;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .menu__link {
    z-index: 1;
}

.dropdown__content:hover + .menu-link {
    color: #1AA9E8;
}

.dropdown:hover .dropdown__content {
    display: flex;
}

.dropdown__content {
    display: none;
    position: absolute;
    width: 223px;
    height: 70px;
    top: 0;
    z-index: 1;
}

.dropdown__content:hover + .menu__link {
    color: #1AA9E8;
}

.dropdown__content__list {
    position: relative;
    width: 100%;
    align-self: flex-end;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background: #FFFFFF;
    border-radius: 4px;
}

.dropdown__content__list::after {
    content: '\e916';
    font-family: 'VGLIconsFont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    font-size: 1rem;
    left: 65px;
    top: -8px;
}

.dropdown__content__item:not(:first-child) {
    margin: 10px 0 0 0;
}

.dropdown__content__link {
    display: block;
    color: #1B1D1F;
    text-decoration: none;
}

.dropdown__content__link:hover {
    color: #1AA9E8;
}
/* ----- Technical Styles End ----- */

/* ----- Header ----- */
.header {
    position: fixed;
    z-index: 4;
    width: 100%;
    font-size: calc(15 / 18 * 1rem);
    background-color: #1B1D1F;
    color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.header__burger {
    display: none;
    cursor: pointer;
}

.header__menu {
    flex: 1 1 auto;
    margin: 0 0 0 41px;
}

.menu__list {
    display: flex;
}

.menu__mobile {
    display: none;
}

.menu__item {

}

.menu__item.dropdown {
    display: flex;
    flex-direction: column-reverse;
}

.menu__item:not(:first-child) {
    margin: 0 0 0 17px;
}

.menu__link {
    color: #ffffff;
    line-height: calc(20.43 / 15 * 100%);
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.menu__close-button {
    display: none;
    cursor: pointer;
    font-size: 20px;
    color: #1AA9E8;
}

.header__contacts {

}

.contacts__section {
    display: flex;
    align-items: center;
    line-height: calc(20.43 / 15 * 100%);
}

.contacts__number {
    color: rgba(255, 255, 255, 0.64);
    transition: all 0.3s ease 0s;
}

.contacts__number:hover {
    color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.contacts__button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.24) 100%);
    color: #ffffff;
    padding: 10px 20px;
    margin: 0 0 0 25px;
    border-radius: 6px;
}

.contacts__button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.24) 100%);
}

.contacts__phone-button {
    font-size: 20px;
    color: #fff;
}

.contacts__phone {
    display: none;
}
/* ----- Header End ----- */

/* ----- Content Start ----- */
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 60px 0 0 0;
}

.content__main-block {
    background:
            linear-gradient(360deg, #1B1D1F 0%, rgba(27, 29, 31, 0) 71.38%),
            linear-gradient(90deg, #1B1D1F 10.29%, rgba(27, 29, 31, 0) 67.53%),
            url('../img/content_images/brick.png') right no-repeat;
    background-size: auto auto, auto auto, cover;
}

.main-block__container {
    display: flex;
    flex-direction: column;
    padding: 66px 0 133px 0;
    color: #fff;
}

.main-block__function {
    padding: 10px 20px;
    font-size: calc(24 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(32.68 / 24 * 100%);
    margin: 0 auto 0 0;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}

.main-block__title {
    font-size: calc(52 / 18 * 1rem);
    font-weight: 800;
    line-height: calc(60 / 52 * 100%);
    margin: 20px 0;
    max-width: 50%;
}

.info-block__item .main-block__title {
    margin: 36px 0 30px 0;
}

.main-block__subtitle {
    font-size: 1rem;
    line-height: calc(24.51 / 18 * 100%);
    max-width: 30%;
}

.main-block__info {
    display: flex;
    align-items: center;
    margin: 50px 0 0 0;
}

.main-block__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: calc(24.51 / 18 * 100%);
    color: #1AA9E8;
}

.main-block__link.underline::before {
    background-color: #1AA9E8;
}

.main-block__link:not(:first-child) {
    margin: 0 0 0 47px;
}

.content__how-block {
    background-color: #1B1D1F;
    color: #fff;
}

.how-block__container {
    padding: 60px 0 116px 0;
}

.how-block__title {
    text-align: center;
}

.how-block__items {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 68px 0 0 0;
}

.how-block__arrow {
    margin: auto 0;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.04);
}

.how-block__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    padding: 35px 33px;
    flex: 1 0;
}

.how-block__item:before {
    content:"";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    border-top: 2px solid #1AA9E8;
}

.how-block__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    border-top: 2px solid #1AA9E8;
}

.how-block__item__img {
    font-size: 27px;
    color: #1AA9E8;
}

.how-block__item__text {

}

.how-block__item__title {
    font-size: calc(25 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(34 / 25 * 100%);
    margin: 30px 0 15px 0;
}

.how-block__item__subtitle {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(19.07 / 14 * 100%);
}

.content__opp-block {

}

.opp-block__container {

}

.opp-block__title {

}

.opp-block__play-video {
    display: flex;
    justify-content: center;
}

.opp-block__play-video__link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(24.51 / 18 * 100%);
    color: #1AA9E8;
    margin: 20px auto 0 auto;
}

.opp-block__play-video__link i {
    margin: 0 0 0 10px;
}

.opp-block__spoilers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 0 0;
    padding: 0 110px 0 110px;
}

.opp-block__spoiler {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F3F7F9;
    border: 2px solid #F3F7F9;
    border-radius: 8px;
}

.opp-block__spoiler:not(:first-child) {
    margin: 15px 0 0 0;
}

.opp-block__spoiler__title {
    display: grid;
    grid-template-columns: 3rem 1fr auto;
    align-items: center;
    cursor: pointer;
}

.opp-block__spoiler__title__number {
    position: relative;
    font-size: calc(16 / 18 * 1rem);
    font-weight: 800;
    line-height: 40px;
    margin: 0 24px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.opp-block__spoiler__title__number.active {
    color: #fff;
    background-color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.opp-block__spoiler__title__text {
    flex: 1 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: calc(24.51 / 18 * 100%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.opp-block__spoiler__title__text span {
    font-weight: 700;
}

.opp-block__spoiler__arrow {
    margin: 0 0 0 24px;
    transition: all 0.3s ease 0s;
}

.opp-block__spoiler__arrow.active {
    transform: rotate(-180deg);
    transition: all 0.3s ease 0s;
}

.opp-block__spoiler__block {
    display: none;
    grid-template-columns: 3rem auto 1fr;
    margin: 15px 0 0 0;
    opacity: 0;
}

.opp-block__spoiler__block.active {
    display: grid;
    opacity: 1;
    animation: showBlock 0.3s linear forwards;
}

.spoiler-block__img {

}

.spoiler-block__text {
    margin: 0 0 0 24px;
}

.spoiler-block__elem {

}

.spoiler-block__elem:not(:first-child) {
    margin: 8px 0 0 0;
}

.spoiler-block__title {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(19.07 / 14 * 100%);
}

.spoiler-block__info {
    font-size: calc(13 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(18 / 13 * 100%);
    color: rgba(27, 27, 27, 0.64);
    margin: 8px 0 0 0;
}

.spoiler-block__play-video {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 8px 0 0 0;
    color: #1AA9E8;
    font-size: calc(14 / 18 * 1rem);
    font-weight: 600;
    line-height: calc(19.07 / 14 * 100%);
}

.spoiler-block__play-video i {
    margin: 0 0 0 4px;
}

.content__info-block {
    position: relative;
}

.content__info-block-mobile {
    display: none;
}

.info-block .main-block__info {
    margin: 40px 0 0 0;
}

.info-block .info-block__item:nth-child(2) .main-block__info {
    margin: 33px 0 0 0;
}

.info-block__items {

}

.info-block__item {
    padding: 60px 0 0 0;
    height: 672px;
}

.info-block__item:nth-child(1) {
    background: linear-gradient(116.57deg, #73D2C5 15.36%, #199687 85.57%);
    background-size: cover;
}

.info-block__item:nth-child(2) {
    background:
            url("../img/content_images/background-img2.png") right no-repeat;
    background-size: cover;
}

.info-block__item:nth-child(3) {
    background-color: #ECEBE9;
}

.info-block__item:nth-child(4) {
    background-color: #C0CDCD;
}

.info-block__item .main-block__function {
    background: rgba(255, 255, 255, 0.32);
}

.info-block__item:nth-child(2) .main-block__function {
    background: rgba(0, 0, 0, 0.04);
}

.info-block__item .main-block__container {
    color: #1B1D1F;
}

.info-block__item .main-block__container {
    color: #1B1D1F;
    padding: 0;
}

.info-block__item:first-child .main-block__function,
.info-block__item:first-child .main-block__title {
    color: #05574E;
}

.info-block__item:not(:first-child) .main-block__function {
    color: #1B1D1F;
}

.info-block__item:not(:first-child) .main-block__title {
    color: #1B1D1F;
}

.info-block__item .main-block__subtitle {
    color: rgba(0, 0, 0, 0.64);
    max-width: unset;
}

.info-block__item:first-child .main-block__subtitle {
    color: #000;
}

.info-block__item .main-block__link {
    color: #fff;
    transition: all 0.3s ease 0s;
}

.info-block__item .main-block__link:hover {
    color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.info-block__item .main-block__link i {
    margin: 0 0 0 10px;
}

.info-block__item .main-block__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: space-between;
}

.main-block__container .info-block__text{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.info-block__item .main-block__title {
    max-width: none;
}

.info-block__text__img {
    width: 80%;
    margin: 0 auto;
}

.info-block__item:nth-child(3) .info-block__text__img{
    width: 100%;
}

.info-block__item:nth-child(4) .info-block__text__img{
    width: 40%;
}

.info-swiper-button-prev,
.info-swiper-button-next {
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-width: 56px !important;
    min-height: 56px !important;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 8px;
    z-index: 2;
    cursor: pointer;
}

.info-swiper-button-prev {
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
}

.info-swiper-button-next {
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
}

.info-swiper-button-prev i,
.info-swiper-button-next i {
    font-size: 24px;
    color: black;
}

.info-swiper-button-next i {
    transform: rotate(180deg);
}

.info-swiper-button-prev:after,
.info-swiper-button-next:after {
    display: none;
}

.info-block-swiper-pagination {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.info-block__pagination__item {
    padding: 20px;
    min-width: 25%;
}

.info-block__pagination__item:first-child {
    border-radius: 16px 0 0 0 !important;
}

.info-block__pagination__item:last-child {
    border-radius: 0 16px 0 0 !important;
}

.info-block__pagination__item__title {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 600;
    line-height: calc(19.07 / 14 * 100%);
    color: rgba(0, 0, 0, 0.4);
}

.info-block__pagination__item__text {
    font-size: calc(15 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(20.43 / 15 * 100%);
    color: #000;
    margin: 10px 0 0 0;
}

.info-block .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    left: 50%;
}

.info-block .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.info-block .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.info-block .swiper-pagination-bullet-active {
    position: relative;
    background: rgba(255, 255, 255, 0.56) !important;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.info-block .swiper-pagination-bullet-active::after {
    content: '';
    position: absolute;
    width: 234px;
    height: 9px;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.56);
    transition: all 0.3s ease 0s;
}

.info-block .swiper-pagination-bullet {
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: unset;
    background: rgba(255, 255, 255, 0.16);
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.get-block__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content__get-block {
    background-color: #F5FBFD;
}

.get-block__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 19%;
    min-width: 19%;
    margin: 50px 35px 0 35px;
}

.get-block__item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 62px;
    min-height: 62px;
    border-radius: 8px;
    background-color: rgba(26, 169, 232, 0.08);
}

.get-block__item__icon i {
    font-size: 24px;
    color: #1AA9E8;
}

.get-block__item__text {
    margin: 20px 0 0 0;
    font-size: calc(14 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(19.07 / 14 * 100%);
}

.in-block__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 33px -15px 0 -15px;
}

.in-block__item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex: 1 0 20%;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    min-height: 228px;
    padding: 20px;
    background-color: #F3F7F9;
    border-radius: 8px;
    border: 2px solid #fff;
    margin: 30px 15px 0 15px;
    transition: all 0.3s ease 0s;
}

.in-block__item:hover {
    border: 2px solid #1AA9E8;
    transition: all 0.3s ease 0s;
}

.in-block__item img {
    align-self: center;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.in-block__item:first-child img {
    width: 35%;
}

.in-block__item:last-child img {
    width: 35%;
}

.in-block__item__text {
    margin: 30px 0 0 0;
}

.in-block__item__text__title {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(19.07 / 14 * 100%);
}

.in-block__item__text__price {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(19.07 / 14 * 100%);
    margin: 5px 0 0 0;
}

.in-block__item__text__info {
    margin: 30px 0 0 0;
}

.in-block__item__text__info a {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(16.34 / 12 * 100%);
    color: rgba(0, 0, 0, 0.44);
    transition: all 0.3s ease 0s;
}

.in-block__item:hover .in-block__item__text__info a {
    color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.content__price-block {
    background-color: #1B1D1F;
}

.price-block__container {
    color: #fff;
}

.price-block__title {

}

.price-block__table {
    display: flex;
    font-size: calc(16 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(22 / 16 * 100%);
    margin: 50px 0 0 0;
}

.price-block__table__titles {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.price-block__table__title {
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    text-align: right;
}

.price-block__table__items {
    display: flex;
    align-items: center;
    flex: 1 0;
    margin: 0 0 0 50px;
}

.price-block__table__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*grid-template-rows: repeat(auto-fill, 10%);*/
    flex: 1 0 10%;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.08);
}

.price-block__table__item:first-child {
    color: #1B1D1F;
    background: #F3FAFF;
    box-shadow: 0 4px 40px rgba(26, 169, 232, 0.44);
    border-radius: 16px;
    padding: 40px 0;
}

.price-block__table__items .swiper-slide:first-child .price-block__table__item {
    color: #1B1D1F;
    background: #F3FAFF;
    box-shadow: 0 4px 40px rgba(26, 169, 232, 0.44);
    border-radius: 16px;
    padding: 40px 0;
}

.price-block__table__item:last-child {
    border-radius: 0 16px 16px 0;
    margin: 0 0 0 2px;
}

.price-block__table__item__header {
    font-size: calc(28 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(38 / 28 * 100%);
    margin: 0 0 25px 0;
}

.price-block__table__item:first-child .price-block__table__item__text {
    padding: 10px 0;
}

.price-block__table__item:first-child .price-block__table__item__text:not(:last-child) {
    border-bottom: 1px solid #E2E2E2;
}

.price-block__table__item__text {
    padding: 10px 0;
}

.price-block__table__item__text.active {
    line-height: 43.825px;
}

.price-block__table__item__text:not(:last-child) {
    border-bottom: 1px solid #474747;
}

.price-block__icon-what {
    margin: 0 0 0 4px;
}

.text {
    position: relative;
    display: none;
}

.open-text:hover + .text {
    position: absolute;
    display: block;
    color: #1B1D1F;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
}

.open-text:hover + .text:after {
    content: '\e916';
    font-family: 'VGLIconsFont' !important;
    speak: never;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    font-size: 1rem;
    left: 187px;
    top: -8px;
}

.content__price-block-mobile {
    display: none;
}

.content__partners-block {

}

.partners-block__subtitle {
    font-size: calc(20 / 18 * 1rem);
    font-weight: 300;
    line-height: calc(27 / 20 * 100%);
    text-align: center;
    margin: 14px 0 0 0;
}

.partners-block__slider {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}

.partners-swiper {
    height: 50px;
}

.partners-block__items {
    margin: 0 0 0 13% !important;
}

.partners-block__item {
    display: flex;
}

.partners-swiper-button-prev,
.partners-swiper-button-next {
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-width: 56px !important;
    min-height: 56px !important;
    background: #F3F7F9;
    border-radius: 8px;
    z-index: 2;
    cursor: pointer;
}

.partners-swiper-button-prev {
    left: 5px;
    margin: 0 0 0 40px;
}

.partners-swiper-button-next {
    right: 5px;
    margin: 0 40px 0 0;
}

.partners-swiper-button-prev i,
.partners-swiper-button-next i {
    font-size: 24px;
    color: black;
}

.partners-swiper-button-next i {
    transform: rotate(180deg);
}

.partners-swiper-button-prev:after,
.partners-swiper-button-next:after {
    display: none;
}

.use-block__info {
    display: flex;
    margin: 50px 0 0 0;
}

.use-block__info__images {
    width: 100%;
    height: auto;
    background:
            linear-gradient(358.75deg, #000000 0.87%, rgba(0, 0, 0, 0) 65.78%) bottom left,
            url("../img/content_images/content-partners-img0.png") center no-repeat;
    background-size: cover, cover;
    border-radius: 16px;
}

.use-block__info__about {
    width: 50%;
    min-width: 50%;
    margin: 0 0 0 22px;
    padding: 30px;
    background-color: #F3F7F9;
    border-radius: 16px;
}

.use-block__info__about__companies {
    display: flex;
    justify-content: space-around;
}

.use-block__info__about__company {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.use-block__info__about__company.active {
    background-color: #fff;
    border: 1px solid #1AA9E8;
    transition: all 0.3s ease 0s;
}

.use-block__info__about__company:hover {
    border: 1px solid #1AA9E8;
    transition: all 0.3s ease 0s;
}

.use-block__info__about__company img {
    width: 100%;
    height: auto;
}

.use-block__info__about__elems {
    margin: 60px 0 0 0;
}

.use-block__info__about__elem {
    display: none;
    align-items: flex-start;
    animation: showBlock 0.3s linear forwards;
}

.use-block__info__about__elem.active {
    display: flex;
}

.use-block__info__about__elem__text__part:not(:first-child) {
    margin: 15px 0 0 0;
}

.use-block__info__about__elem__text__part__title {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(19.07 / 14 * 100%);
}

.use-block__info__about__elem__text__part__subtitle {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
    margin: 10px 0 0 0;
}

.use-block__info__about__elem__quote {
    position: relative;
    min-width: 45%;
    margin: 0 0 0 39px;
    padding: 30px 15px 15px 15px;
    border: 1px solid #E3E3E3;
    border-radius: 16px;
}

.use-block__info__about__elem__quote:after {
    content: '\e914';
    position: absolute;
    display: flex;
    justify-content: center;
    line-height: calc(115 / 50 * 100%);
    width: 44px;
    height: 44px;
    left: 20px;
    top: -22px;
    font-family: 'VGLIconsFont' !important;
    speak: never;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border-radius: 100%;
}

.use-block__info__about__elem__quote__main {
    font-size: calc(12 / 18 * 1rem);
    font-style: italic;
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
}

.use-block__info__about__elem__quote__author {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 600;
    line-height: calc(16.34 / 12 * 100%);
    margin: 10px 0 0 0;
}

.contact-news-block__container {
    display: flex;
}

.contact-news-block__elem {
    display: flex;
    justify-content: center;
    margin: 0 -25px;
}

.contact-news-block__item {
    margin: 0 25px;
    padding: 30px;
    text-align: left;
}

.contact-block {
    flex: 1 0 40%;
    background: #F3F7F9;
    border-radius: 16px;
}

.contact-news-block__title {
    text-align: left;
}

.contact-news-block__subtitle {
    font-size: calc(16 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(22 / 16 * 100%);
    margin: 20px 0 0 0;
}

.contact-block__item {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.contact-block__item label {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(19.07 / 14 * 100%);
    color: #7C8184;
}

.contact-block__item input, .contact-block__item textarea {
    font-size: calc(14 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(19.07 / 14 * 100%);
    margin: 5px 0 0 0;
    padding: 15px;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
    max-width: 100%;
    overflow: auto;
}

.contact-block__item textarea {
    width: 100% !important;
    max-height: 7rem;
}

.contact-block__item input:focus, .contact-block__item textarea:focus {
    border: 1px solid #1AA9E8;
}

.contact-block__item input::placeholder, .contact-block__item textarea::placeholder {
    font-family: 'Open Sans';
    font-size: calc(16 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(22 / 16 * 100%);
    color: rgba(27, 29, 31, 0.32);
}

.contact-block__item textarea {
    min-height: 7rem;
}

.contact-block__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.contact-block__checkbox {
    display: flex;
    flex-direction: row;
    max-width: 50%;
}

.contact-block__checkbox label span {
    font-size: calc(10 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(14 / 10 * 100%);
    margin: 0 0 0 13px;
}

.contact-block__checkbox label span a {
    color: #1B1D1F;
    text-decoration: underline;
}

.contact-block__checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.contact-block__checkbox input+label {
    display: inline-flex;
    align-items: flex-start;
    user-select: none;
}

.contact-block__checkbox input+label::before {
    content: '';
    font-family: 'VGLIconsFont' !important;
    speak: never;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display: flex;
    align-self: flex-start;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
    transition: all 0.3s ease 0s;
}

.contact-block__checkbox input:checked+label::before {
    border-color: #1AA9E8;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNS40MTQxOCIgd2lkdGg9IjIiIGhlaWdodD0iNy4zNDExOSIgdHJhbnNmb3JtPSJyb3RhdGUoLTQ1IDAgNS40MTQxOCkiIGZpbGw9IndoaXRlIi8+CjxyZWN0IHg9IjEyLjk1MjkiIHdpZHRoPSIyIiBoZWlnaHQ9IjEyLjY2MTIiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDEyLjk1MjkgMCkiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
    background-color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.contact-block__checkbox input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
    transition: all 0.3s ease 0s;
}

.contact-block__checkbox input:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
    transition: all 0.3s ease 0s;
}

.contact-block__checkbox input:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transition: all 0.3s ease 0s;
}

.contact-block__checkbox input:focus:not(:checked)+label::before {
    border-color: #80bdff;
    transition: all 0.3s ease 0s;
}

.contact-block__checkbox input:disabled+label::before {
    background-color: #e9ecef;
    transition: all 0.3s ease 0s;
}

.contact-block__button {
    align-self: flex-start;
    padding: 18px 60px;
}

.news-block {
    flex: 1 0 45%;
    border: 2px solid #F3F7F9;
    border-radius: 16px;
}

.news-block__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-block__link {
    font-size: calc(16 / 18 * 1rem);
    font-weight: 600;
    line-height: calc(22 / 16 * 100%);
    color: #1AA9E8;
}

.news-block__items {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0 0;
}

.news-block__item {
    display: flex;
    flex: 1 0 25%;
}

.news-block__item:not(:first-child) {
    margin: 20px 0 0 0;
}

.news-block__item__img {
    border-radius: 8px;
}

.news-block__item__info {
    margin: 0 0 0 30px;
}

.news-block__item__info__title {
    font-size: calc(16 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(22 / 16 * 100%);
}

.news-block__item__info__subtitle {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
    margin: 8px 0;
}

.news-block__item__info__date {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
    color: #7C8184;
}
/* ----- Content End ----- */

/* ----- Footer Start ----- */
.footer {
    padding: 47px 0 0 0;
    color: #fff;
    background: #000102;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    display: flex;
    flex: 1 0 auto;
}

.footer__menu__elem {
    display: flex;
}

.footer__menu__elem:not(:first-child) {
    margin: 0 0 0 120px;
}

.footer__menu__list:not(:first-child) {
    margin: 0 0 0 120px;
}

.footer__menu__list .footer__menu__item {
    font-size: calc(15 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(30 / 15 * 100%);
}

.footer__menu__list .footer__menu__item:first-child {

}

.footer__menu__list .footer__menu__item .footer__menu__link:first-child {
    color: #fff;
    transition: all 0.3s ease 0s;
}

.footer__menu__list .footer__menu__item:not(:first-child) .footer__menu__link {
    color: rgba(255, 255, 255, 0.56);
}

.footer__menu__list:last-child .footer__menu__item .footer__menu__link {
    color: #fff;
    transition: all 0.3s ease 0s;
}

.footer__menu__item:hover .footer__menu__link {
    color: #1AA9E8 !important;
    transition: all 0.3s ease 0s;
}

.footer__contacts {
    text-align: right;
}

.footer__contact:not(:first-child) {
    margin: 20px 0 0 0;
}

.footer__contact__number {
    font-size: calc(20 / 18 * 1rem);
    font-weight: 700;
    line-height: calc(27 / 20 * 100%);
    color: #fff;
    transition: all 0.3s ease 0s;
}

.footer__contact__number:hover {
    color: #1AA9E8;
    transition: all 0.3s ease 0s;
}

.footer__contact__text {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
    color: rgba(255, 255, 255, 0.32);
}

.footer__open-date-time {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
    margin: 13px 0 0 0;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 23px 0 0 0;
    padding: 22px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
}

.footer__copyright__info {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

.footer__copyright__info__text {
    margin: 0 0 0 25px;
}

.footer__copyright__next {
    display: flex;
    align-items: center;
}

.footer__copyright__address {
    margin: 0 25px 0 0;
}

.footer__copyright__social-media {
    display: flex;
    margin: 0 -4px;
}

.footer__copyright__social-media a {
    margin: 0 4px;
}

.footer__support {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.footer__support__text {
    font-size: calc(12 / 18 * 1rem);
    font-weight: 400;
    line-height: calc(16.34 / 12 * 100%);
    color: rgba(255, 255, 255, 0.64);
}

.footer__support__img {
    margin: 0 0 0 8px;
}
/* ----- Footer End ----- */

/* ----- Media Styles Start----- */
@media (max-width: 1200px) {

    .container {
        max-width: 1100px;
        margin: 0 20px 0 20px;
    }

    /* ----- Header Start ----- */
    .contacts__section {
        display: none;
    }

    .contacts__phone {
        display: inline-block;
    }
    /* ----- Header End ----- */

    /* ----- Content Start ----- */

    .main-block__container {
        justify-content: center;
    }

    .main-block__title {
        max-width: 80%;
    }

    .main-block__container .info-block__text {
        width: 100%;
    }

    .info-block__item {
        padding: 60px 0 60px;
    }

    .info-block__item:nth-child(4) .info-block__text__img {
        width: 60%;
    }

    .info-block-swiper-pagination.container {
        margin: 0;
    }

    .info-swiper-button-prev,
    .info-swiper-button-next {
        display: none;
    }

    .how-block__item__title {
        font-size: calc(20 / 18 * 1rem);
        line-height: calc(27.24 / 20 * 100%);
    }

    .how-block__item__subtitle {
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(16.34 / 12 * 100%);
    }

    .main-block__subtitle__list {
        display: none;
    }

    .partners-block__item img {
        width: 100%;
        height: auto;
    }
    /* ----- Header End ----- */

    /* ----- Footer Start ----- */
    .footer__menu {
        justify-content: space-around;
    }

    .footer__menu__elem {
        display: flex;
        flex-direction: column;
    }

    .footer__menu__elem:not(:first-child) {
        margin: 0;
    }

    .footer__menu__elem .footer__menu__list:not(:first-child) {
        margin: 20px 0 0 0;
    }

    .footer__copyright {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 40px 0 0 0;
    }

    .footer__copyright__info {
        margin: 25px 0 0 24px;
    }

    .footer__copyright__next {
        flex-direction: column;
    }

    .footer__copyright__address {
        text-align: center;
        margin: 0;
    }

    .footer__copyright__social-media {
        margin: 25px 4px 0 4px;
    }

    .footer__copyright__social-media a img {
        width: 100%;
        height: 40px;
    }

    .footer__copyright__info__text {
        margin: 0 0 0 10px;
    }
    /* ----- Footer End ----- */
}

@media (max-width: 992px) {
    .container {
        margin: 0 20px;
        padding: 0;
    }

    /* ----- Header Start ----- */
    .header__container {
        justify-content: space-between;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__menu {
        margin: 0;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .header__menu.active {
        display: block;
    }

    .menu__list {
        display: none;
    }

    .menu__mobile {
        display: block;
        padding: 20px 25px;
        flex-direction: column;
        width: 80%;
        background-color: #1AA9E8;
    }

    .menu__list.mobile {
        display: block;
    }

    .menu__list.mobile:not(:first-child) {
        margin: 5px 0 0 0;
    }

    .menu__item {
        font-size: calc(16 / 18 * 1rem);
        font-weight: 700;
        line-height: calc(40 / 16 * 100%);
    }

    .menu__item:not(:first-child) {
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        color: rgba(255, 255, 255, 0.56);
    }

    .menu__link.active {
        color: #fff;
    }

    .menu__close-button {
        position: fixed;
        top: 20px;
        right: 50px;
        display: block;
    }
    /* ----- Header End ----- */

    /* ----- Content Start ----- */
    .content__main-block {
        background:
                linear-gradient(360deg, #1B1D1F 0%, rgba(27, 29, 31, 0) 30%),
                linear-gradient(180deg, #1B1D1F 39%, rgba(27, 29, 31, 0) 100%),
                url('../img/content_images/brick.png') right -9rem top 7rem no-repeat;
        background-size: auto auto, auto auto, cover;
    }

    .main-block__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 34px 0 25px 0;
        color: #fff;
    }

    .main-block__function {
        font-size: calc(16 / 18 * 1rem);
        font-weight: 700;
        line-height: calc(21.79 / 16 * 100%);
        margin: 0 auto;
    }

    .main-block__title {
        font-size: calc(32 / 18 * 1rem);
        font-weight: 800;
        line-height: calc(38 / 32 * 100%);
        margin: 19px auto 12px auto;
        max-width: 29rem;
    }

    .main-block__subtitle {
        font-size: calc(16 / 18 * 1rem);
        font-weight: 400;
        line-height: calc(21.79 / 16 * 100%);
        max-width: 100%;
    }

    .main-block__info {
        flex-direction: column;
        margin: 144px 0 0 0;
    }

    .main-block__link.button {
        font-size: calc(16 / 18 * 1rem);
        font-weight: 600;
        line-height: calc(21.79 / 16 * 100%);
    }

    .main-block__link:not(:first-child){
        font-size: calc(16 / 18 * 1rem);
        font-weight: 600;
        line-height: calc(21.79 / 16 * 100%);
        margin: 20px 0 0 0;
    }

    .get-block__item {
        width: 40%;
        min-width: 40%;
    }

    .how-block__container {
        padding: 82px 0 70px 0;
    }

    .content__how-block .how-block__title {
        font-size: calc(26 / 18 * 1rem);
        font-weight: 300;
        line-height: calc(56 / 26 * 100%);
    }

    .how-block__items {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .how-block__item {
        flex-direction: row;
    }

    .how-block__item__img {
        margin: 5px 0 0 0;
    }

    .how-block__item__text {
        margin: 0 0 0 23px;
    }

    .how-block__item__title {
        margin: 0 0 10px 0;
    }

    .how-block__arrow {
        margin: 0 auto;
        transform: rotate(90deg);
    }

    .content__opp-block .opp-block__title {
        line-height: calc(56 / 26 * 100%);
    }

    .opp-block__container {
        padding: 40px 0 70px 0;
    }

    .opp-block__play-video__link i {
        margin: 0 0 0 6.33px;
    }

    .opp-block__spoilers {
        padding: 0;
    }

    .opp-block__spoiler__title__text {
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(16.34 / 12 * 100%);
    }

    .opp-block__spoiler__arrow::before {
        font-size: 12px;
    }

    .spoiler-block__none {
        display: none;
    }

    .opp-block__spoiler__block {
        grid-template-columns: auto;
    }

    .spoiler-block__img {
        width: 100%;
    }

    .spoiler-block__text {
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(16.34 / 12 * 100%);
        margin: 24px 0 0 0;
    }

    .spoiler-block__play-video {
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(16.34 / 12 * 100%);
    }

    .content__info-block {
        display: none;
    }

    .content__info-block-mobile {
        display: block;
    }

    .info-block__item {
        height: auto;
    }

    .info-block__item:nth-child(2) {
        background: url("../img/content_images/background-mobile-img2.svg") center top no-repeat;
        background-size: cover;
    }

    .info-block__item .main-block__container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 38px 0 60px 0;
        color: #fff;
    }

    .info-block__item:nth-child(4) .main-block__title {
        font-size: calc(27 / 18 * 1rem);
        line-height: calc(32 / 27 * 100%);
        max-width: 100%;
    }

    .main-block__subtitle__list {
        display: none;
    }

    .info-block__text__img {
        margin: 0 auto;
        width: 90%;
    }

    .info-block__item:nth-child(4) .info-block__text__img {
        width: 40%;
    }

    .info-block__item .main-block__function {
        margin: 0 auto;
    }

    .info-block__item .main-block__title {
        max-width: 100%;
    }

    .info-block__item .main-block__subtitle {
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(16.34 / 12 * 100%);
        max-width: 100%;
    }

    .info-block__item .main-block__link:not(:first-child) {
        margin: 20px 0 0 0;
    }

    .info-block__item {
        padding: 38px 0 60px 0;
    }

    .info-block__item .main-block__container {
        padding: 0;
    }

    .info-block__text {
        margin: 33px 0 0 0;
    }

    .info-block__item .main-block__title {
        margin: 20px auto;
    }

    .info-block__item .main-block__info {
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    .info-block__item .main-block__link {
        font-size: calc(16 / 18 * 1rem);
        font-weight: 600;
        line-height: calc(21.79 / 16 * 100%);
    }

    .info-block__item .main-block__link i {
        font-size: 12px;
    }

    .get-block__container.content__block {
        padding: 40px 0 56px 0;
    }

    .in-block__container.content__block {
        padding: 40px 0 50px 0;
    }

    .in-block__item {
        text-align: center;
    }

    .in-block__item__text {
        display: grid;
        grid-template-rows: auto auto 1fr;
        margin: 0;
    }

    .in-block__item__text__info {
        margin: auto 0 0 0;
    }

    .content__price-block {
        display: none;
    }

    .content__price-block-mobile {
        display: block;
        background-color: #1B1D1F;
    }

    .price-block__container {

    }

    .price-block__container.content__block {
        padding: 40px 0 60px 0;
    }

    .content__price-block-mobile .swiper {
        width: 20rem;
    }

    .price-block__table__items {
        margin: 20px 0 0 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .price-block__table__item {
        padding: 20px;
        flex: 1 0 100%;
        border-radius: 16px;
        background: #2D2F31;
    }

    .price-block__container .swiper-slide {
        border-radius: 16px;
    }

    .price-block__container .swiper-slide .price-block__table__item {
        padding: 20px;
        background: #2D2F31;
        color: #fff;
    }

    .price-block__container .swiper-slide:first-child .price-block__table__item {
        padding: 40px 20px;
    }

    .price-block__table__item:last-child {
        border-radius: 16px;
    }

    .price-block__table__item__main {
        display: flex;
    }

    .price-block__table__item__elem {
        display: flex;
        justify-content: space-between;
        font-size: calc(14 / 18 * 1rem);
        line-height: calc(19.07 / 14 * 100%);
        padding: 10px 0;
        border-bottom: 1px solid #474747;
    }

    .price-block__table__item:first-child .price-block__table__item__elem {
        border-bottom: 1px solid #E2E2E2;
    }

    .price-block__table__item__elem p {
        display: flex;
        padding: 0;
    }

    .price-block__table__item__elem .text {
        display: none;
    }

    .price-block__table__item__title {
        font-size: calc(14 / 18 * 1rem);
        font-weight: 400;
        line-height: calc(19.07 / 14 * 100%);
        color: #9D9D9D;
    }

    .price-block__table__item__text {
        text-align: right;
    }

    .open-text:hover + .text {
        right: 0;
        width: 200px;
    }

    .open-text:hover + .text:after {
        left: 155px;
    }

    .price-block__table__item:first-child .price-block__table__item__text {
        padding: 0;
    }

    .partners-block__container.content__block {
        padding: 40px 0 0 0;
    }

    .partners-swiper-button-prev,
    .partners-swiper-button-next {
        display: none;
    }

    .partners-block__items {
        margin: 0 0 0 20% !important;
    }

    .partners-block__item {
        width: auto !important;
    }

    .use-block__container.content__block {
        padding: 40px 0 0 0;;
    }

    .use-block__info {
        flex-direction: column;
    }

    .use-block__info__about__elems {
        margin: 20px 0 0 0;
    }

    .use-block__info__images {
        width: 100%;
        height: 10rem;
        border-radius: 16px 16px 0 0;
    }

    .use-block__info__about {
        border-radius: 0 0 16px 16px;
        margin: 0;
        width: 100%;
        padding: 20px;
    }

    .use-block__info__about__elem__text__part__subtitle {
        margin: 5px 0 0 0;
    }

    .use-block__info__about__elem__text__part:not(:first-child) {
        margin: 10px 0 0 0;
    }

    .contact-news-block__container.content__block {
        padding: 43px 0 0 0;
    }

    .contact-block {
        border-radius: 0;
    }

    .contact-block__buttons {
        margin: 10px 0 0 0;
    }

    .news-block {
        border: none;
    }

    .contact-news-block__elem {
        flex-direction: column-reverse;
    }

    .contact-news-block__item {
        width: 100%;
        margin: 0 auto;
        padding: 0 30px 30px 30px;
    }

    .contact-news-block__subtitle {
        font-size: calc(14 / 18 * 1rem);
        font-weight: 400;
        line-height: calc(19.07 / 14 * 100%);
        max-width: 320px;
    }

    .contact-block {
        margin-top: 50px;
    }

    .contact-block__buttons {
        flex-direction: column;
    }

    .contact-block__checkbox {
        align-items: center;
        max-width: 100%;
    }

    .contact-block__checkbox input+label {
        align-items: center;
    }

    .contact-block__button {
        margin: 20px 0 0 0;
        width: 100%;
    }

    .news-block__link {
        display: none;
    }

    .news-block__item__img {
        display: none;
    }

    .news-block__item__info {
        margin: 0;
    }
    /* ----- Content End ----- */

    /* ----- Footer Start ----- */
    .footer__top {
        flex-direction: column;
    }

    .footer__menu__list .footer__menu__item {
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(30 / 12 * 100%);
    }

    .footer__contacts {
        margin: 30px 0 0 0;
        text-align: center;
    }

    .footer__contact:not(:first-child) {
        margin: 10px 0 0 0;
    }

    .footer__contact__number {
        font-size: calc(30 / 18 * 1rem);
        font-weight: 700;
        line-height: calc(41 / 30 * 100%);
    }

    .footer__support {
        padding: 10px 0;
    }
    /* ----- Footer End ----- */
}

@media (max-width: 768px) {

    /* ----- Content Start ----- */
    .get-block__item {
        flex-direction: row;
        text-align: left;
        flex: 1 0 auto;
    }

    .get-block__item__icon {
        align-self: flex-start;
        margin: 0;
    }

    .get-block__item__text {
        margin: 0 0 0 20px;
        min-height: 65px;
    }

    .info-block__text__img {
        margin: 0 auto;
        width: 50%;
    }
    /* ----- Content End ----- */
}

@media (max-width: 576px) {

    /* ----- Own Base Styles Start ----- */
    h2 {
        font-size: calc(26 / 18 * 1rem);
        font-weight: 300;
        line-height: calc(35.41/ 26 * 100%);
        text-align: center;
    }
    /* ----- Own Base Styles End ----- */

    /* ----- Technical Styles Start ----- */

    .get-block__item {
        width: 100%;
        min-width: 40%;
        margin: 20px 0 0 0;
    }

    .info-block__text__img {
        margin: 0 auto;
        width: 90%;
    }

    .content__price-block-mobile .swiper {
        width: 15rem;
    }
    /* ----- Technical Styles End ----- */

    /* ----- Content Start ----- */
    .opp-block__play-video__link {
        font-size: calc(15 / 18 * 1rem);
        font-weight: 600;
        line-height: calc(20.43 / 15 * 100%);
        margin: 0 auto;
    }

    .opp-block__spoilers {
        margin: 30px 0 0 0;
    }

    .in-block__item {
        margin: 10px 10px 10px 10px;
    }

    .use-block__info__about__elem {
        flex-direction: column;
    }

    .use-block__info__about__elem__quote {
        margin: 40px 0 0 0;
    }

    .partners-block__subtitle {
        font-size: calc(14 / 18 * 1rem);
        font-weight: 300;
        line-height: calc(19.07 / 14 * 100%);
    }
    /* ----- Content End ----- */
}
/* ----- Media Styles End ----- */

/* ----- Animations Start ----- */
@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* ----- Animations End ----- */