@import 'utils/_mixins';
@import 'utils/_variables';

a{
    transition: $default-transition;
}
h2 a{
    color:$color-blue;
    &:hover{
        color: $color-black;
    }
}
.menu__link.active {
    color: #1AA9E8;
}
.button{
    font-family: inherit;
    background: #009EFF !important;    
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: $default-transition;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
    180deg, #25CBFF 0%, #009EFF 100%) !important;
        transition: $default-transition;
        border-radius: 12px;
    }
    &:hover{
        background: #009EFF !important; 
        &:before{
            opacity: 0;
        }
    }
}
    
.button_small{
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 30px;
}

.button_border{
    padding: 18px 24px;
    border: 2px solid  $color-blue;
    border-radius: 12px;
    background: transparent !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color-blue !important;
    display: inline-block;
    text-align: center;
    
    &:before{
        display: none;
    }
    &:hover{
        background: $color-blue !important;
        border-color: $color-blue !important;
        color: #fff !important;
    }
}

.container{
    max-width: 1320px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0 auto;
}

.y-row{
    margin: 0 -15px -30px;
    @include flexbox;
    @include flex-wrap(wrap);
}
.y-col{
    padding: 0 15px 30px;
    width: 100%;
    &-2{
        width: 16.66%;
    }
    &-3{
        width: 25%;
    }
    &-4{
        width: 33.33%;
    }
    &-5{
        width: 41.66%;
    }
    &-6{
        width: 50%;
    }
    &-7{
        width: 58.33%;
    }
    &-8{
        width: 66.66%;
    }  
    &-9{
        width: 75%;
    }
}

.y-section-equipment-top{
    background: #F9F9F9;
    min-height: 480px;
    padding: 26px 0;  
    overflow: hidden;
    position: relative;
    z-index: 1;
    .button{
        display: inline-block;
        vertical-align: middle;
    }
    &__title{
        font-weight: 800;
        font-size: 52px;
        line-height: 60px;
        margin-bottom: 26px;
        max-width: 780px;
    }
    &__text{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 33px;
        max-width: 660px;
    }
    &__image{
        width: 647px;
        height: 647px;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 75%, #F4F4F4 100%);
        left: calc(50% + 30px);
        top: calc(50% - 325px);
        position: absolute;
        z-index: -1;
        &:before{
            content: "";
            position: absolute;
            z-index: 1;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 75%, #F4F4F4 100%);
            top: 110px;
            left: 110px;
            right: 110px;
            bottom: 110px;
             border-radius: 50%;
        }
        &:after{
            content: "";
            position: absolute;
            z-index: 2;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 67.71%, #F7F7F7 100%);
            top: 190px;
            left: 190px;
            right: 190px;
            bottom: 190px;
             border-radius: 50%;
        }
        img{
            position:absolute;
            z-index: 3;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
.breadcrumbs{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: rgba(#1B1B1B, 0.4);
    margin-bottom: 64px;
    &-item{
        display:inline-block;
        vertical-align: middle;
        &:after{
            content: "/";
            padding: 0 2px;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
        &__link{
            color: $color-black;
            &:hover{
                color: $color-blue;
            }
        }
    }
}

.y-section{
    padding: 60px 0 80px;
    
    &_black{
        background: #1B1D1F;
        color: #fff;        
    }
    &_nobottom{
        padding-bottom: 0 !important;
    }
    
    &.y-section-inside{
        padding-top: 26px;
        .breadcrumbs{
            margin-bottom: 20px;
        }
    }
}

.subtitle{
    font-size: calc(20 / 18 * 1rem);
    font-weight: 300;
    line-height: calc(27 / 20 * 100%);
    text-align: center;
    margin: 14px 0 0 0;
}

.y-section-choose{
    &__top{
        margin-bottom: 40px;
    }
    &__title{
        text-align: left;
    }
    &__text{
        font-size: 13px;
        line-height: 18px;
        color: rgba($color-black, 0.56);
    }
    
    &-aside{
        background: #F7F7F7;
        border-radius: 16px;
       
        padding: 30px;
        
        
        &-block{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__title{
            font-weight: 800;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 15px;
        }
        &__total{
            text-align: right;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 15px;
            span{
                font-weight: bold;
                margin-left: 11px;
                color: $color-blue;
            }
        }
        .button{
            width: 100%;
        }
        
        &__text{
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 20px;
        }
        &__btns{
            .button{
                margin-bottom: 10px;
                width: 100%;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        
        &-btn{
            display:none;
        }
    }
}
.equipment{
    margin-bottom: 40px;
    &:last-child{
        margin-bottom: 0;
    }
    .y-row{
        margin: 0 -10px -20px;
    }
    .y-col{
    padding: 0 10px 20px;
    }
    
    &-item{
        border: 2px solid #EEEEEE;
        border-radius: 16px;
        padding: 10px 20px 20px;
        height: 100%;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);
        transition: $default-transition;
        &:hover{
            border-color:  rgba(13, 174, 255, 0.32);
        }
        &__img{
            height: 128px;
            position:relative;
            display: block;
            img{
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &__title{
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 10px;
            padding-top: 10px;
            a{
                color:$color-black;
                &:hover{
                    color: $color-blue;
                }
            }
        }
        &__text{
            font-size: 10px;
            line-height: 14px;
            color: rgba($color-black, 0.64);
            margin-bottom: 10px;
            
            &-2{
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__price{
            font-weight: 300;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 10px;
        }
        &__link{
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            a{
                color: $color-blue;
            }
            
        }
        .calc{
            margin-bottom: 10px;
        }
        
        &__radios{
            margin-bottom: 10px;
        }
        &__top{
            .equipment-item__link{
                display: none;
            }
        }
        
    }
    
    &-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 20px;
        b{
            display:block;
            font-weight: 800;
        }
    } 
    
    &-instruction{
        background: #F7F7F7;
        border-radius: 8px;
        padding: 15px;
        font-size: 12px;
        line-height: 16px;
        p{
            margin-bottom: 15px;
        }
        ol{
            margin-left: 20px;
            li{
                list-style: decimal;
            }
        }
    }
}

.calc{
    height: 32px;
    position: relative;
    &__btn{
        background: #019FFF;
        border-radius: 8px;
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        z-index: 1;
        &:before{
            content: "";
            position: absolute;
            width: 14px;
            height: 2px;
            top: calc(50% - 1px);
            left: calc(50% - 7px);
            background: #fff;
        }
        &:after{
            content: "";
            position: absolute;
            width: 2px;
            height: 14px;
            left: calc(50% - 1px);
            top: calc(50% - 7px);
            background: #fff;
        }
        
        
        &.disabled{
            background: linear-gradient(180deg, #F4F4F4 0%, #E8E8E8 100%);
            cursor: none;
            pointer-events: none;
            &:before, &:after{
                background: #B1B1B1;
            }
            span{
                opacity:0;
            }
        }
        span{
            position: absolute;
            z-index: -1;
            border-radius: 8px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(
            180deg, #25CBFF 0%, #009EFF 100%) !important;
                transition: $default-transition;
                border-radius: 8px;
            }
            
        }
        
        &:hover{
               span:before{
                    opacity: 0;
                }
            }
        
    }
    &__minus{
        left: 0;
        &:after{
            display: none;
        }        
    }
    &__plus{
        right: 0;
    }
    &__input{
       width: calc(100% - 84px);
        margin: 0 auto;
        height: 32px;
        border: none;
        background: #DDF5FF;
        border-radius: 8px;  
        padding: 0 8px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $color-black;
        display: block;
        
        &.disabled{
            color: rgba($color-black, 0.32);
            background: #F2F2F2;
        }
    }

}

.radio-color{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    &:last-child{
        margin-right: 0;
    }
    input{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        
        + label{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: block;
            cursor: pointer;
        }
        
        &:checked + label{
            box-shadow: 0px 0px 10px rgba(24, 145, 131, 0.32);
        }
    }
}
.tooltip{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 0 0 5px;
    cursor: pointer;
    svg{
        display:block;
    }
}


.y-text{
    font-size: 13px;
    line-height: 18px;  
    margin-bottom:20px;
    color: rgba($color-black, 0.64);
    &:last-child{
         margin-bottom: 0;
    }
    p{
        margin-bottom:25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    ul{
        margin-bottom:25px;
        list-style: disc;
        padding-left: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    &__link{
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: $color-blue;
    }
}

.choose-list{
    margin-bottom: 15px;
    &-item{
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        margin-bottom: 10px;
        @include flexbox;
        @include align-items(center);
        padding: 10px;
        &:last-child{
            margin-bottom: 0;
        }
        &__img{
            width: 40px;
            height: 33px;
            position: relative;
            flex: none;
            img{
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &__title{
            width: 100%;
            padding: 0 10px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            a{
                color:$color-black;
                &:hover{
                    color: $color-blue;
                }
            }
        }
        &__price{
            flex: none;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            color: rgba($color-black, 0.4);
            &_total{
                display: block;
                font-weight: normal;
font-size: 14px;
line-height: 19px;
                color: $color-blue;
            }
        }
    }
}

.solutions{
    margin-top: 58px;
    .swiper-wrapper{
        @include flexbox;
        margin: 0 -15px;
        width: calc(100% + 30px);
    }
    .swiper-slide{
        width: 33.33%;
        padding: 0 15px;
        height: auto;
    }
    &-item{
        background: linear-gradient(180deg, #373A3D 0%, #15445C 100%);
        border-radius: 16px;
        height: 100%;
        padding: 30px;
        color: #FFFFFF;
        &-2{
            background: linear-gradient(180deg, #39373D 0%, #15215C 100%);
        }
        &-3{
            background: linear-gradient(180deg, #383D37 0%, #155C3A 100%);
        }
        &__title{
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;

            
            margin-bottom: 20px;
        }
        &__text{
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;
        }
        &__list{
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 20px;
            li{
                position:relative;
                padding-left: 40px;
                span{
                    width: 24px;
                    height: 20px;
                    left: 0px;
                    top: 2px;
                    background: #F7F7F7;
                    border-radius: 2px;
                    text-align: center;
                    line-height: 20px;
                    font-weight: bold;
                    font-size: 12px;
                    color: $color-black;
                    position: absolute;
                }
            }
        }
        
        &__btn{
            padding: 16px 20px;
            width: 100%;
            //background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.24) 100%);
            border-radius: 6px;
            display: block;
            padding: 16px 20px;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            text-align: center;

            color: #FFFFFF;
            position: relative;
            z-index: 1;
            background:transparent;
            &:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background:linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.24) 100%);
                transition: $default-transition;
                border-radius: 8px;
            }
            &:hover{
                background: rgba(255, 255, 255, 0.08); 
                &:before{
                    opacity: 0;
                }
            }
            &:hover{
               // background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.24) 100%);
            }
        }
    }
}

.y-section-map{
    margin-top: 50px;
}

.y-section-instagram{
    margin-top: 50px;
    border-radius: 16px;
    overflow: hidden;
}

.news-block__item__info__title:hover{
    color: $color-blue;
}

.y-title-box{
    
    @include flexbox;
    @include align-items(center);
    margin-bottom: 32px;
    &__back{
        padding: 10px 20px;
        
        border-radius: 6px;
        display: inline-block;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: $color-black;
        margin-right: 30px;
        background: transparent;
        position: relative;
        z-index: 1;
        &:before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 6px;
            transition: $default-transition;
            background: linear-gradient(180deg, #F5F5F5 0%, #DFDFDF 100%);
        }
        &:hover{
            background: #DFDFDF;
            &:before{
                opacity: 0;
            }
        }
    }
    
}

.title-h1{
    font-weight: 800;
    font-size: 42px;
    line-height: 57px;
}

.contacts__button {
    
    background: transparent;
    position: relative;
    z-index: 1;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 6px;
        transition: $default-transition;
         background: linear-gradient(
180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.24) 100%);
    }
    &:hover{
        background: rgba(255, 255, 255, 0.08);
        &:before{
            opacity: 0;
        }
    }
    
}

.y-section-product{
    &__row{
        margin-bottom: 0;
       // @include align-items(flex-start);
    }
    &__col{
        padding-bottom: 0;
    }
}
.y-product-images{    
    &-block{
        @include flexbox;
    }
    height: 510px;
    padding: 35px 0;
    width: 102px;
    margin-right: 20px;
    .swiper-slide{
        width: 102px;
        height: 102px;
        background: #F5F5F5;
        border: 2px solid #F5F5F5;
        border-radius: 18px;
        overflow: hidden;
        position: relative;
        transition: $default-transition;
        cursor: pointer;
        img{
            position: absolute;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        &:hover, &.swiper-slide-thumb-active{
            border-color: #CFCFCF;
        }
        &.image-3d{
            &:before{
                content: "";
                position: absolute;
                bottom: 7px;
                right: 7px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.52 21.48A10.487 10.487 0 0 1 1.55 13H.05C.56 19.16 5.71 24 12 24l.66-.03-3.81-3.81-1.33 1.32Zm.89-6.52c-.19 0-.37-.03-.52-.08a1.07 1.07 0 0 1-.4-.24c-.11-.1-.2-.22-.26-.37-.06-.14-.09-.3-.09-.47h-1.3c0 .36.07.68.21.95.14.27.33.5.56.69.24.18.51.32.82.41.3.1.62.15.96.15.37 0 .72-.05 1.03-.15.32-.1.6-.25.83-.44.23-.19.42-.43.55-.72.13-.29.2-.61.2-.97 0-.19-.02-.38-.07-.56a1.67 1.67 0 0 0-.23-.51c-.1-.16-.24-.3-.4-.43-.17-.13-.37-.23-.61-.31a2.098 2.098 0 0 0 .89-.75c.1-.15.17-.3.22-.46.05-.16.07-.32.07-.48 0-.36-.06-.68-.18-.96a1.78 1.78 0 0 0-.51-.69c-.2-.19-.47-.33-.77-.43C9.1 8.05 8.76 8 8.39 8c-.36 0-.69.05-1 .16-.3.11-.57.26-.79.45-.21.19-.38.41-.51.67-.12.26-.18.54-.18.85h1.3c0-.17.03-.32.09-.45a.94.94 0 0 1 .25-.34c.11-.09.23-.17.38-.22.15-.05.3-.08.48-.08.4 0 .7.1.89.31.19.2.29.49.29.86 0 .18-.03.34-.08.49a.87.87 0 0 1-.25.37c-.11.1-.25.18-.41.24-.16.06-.36.09-.58.09H7.5v1.03h.77c.22 0 .42.02.6.07s.33.13.45.23c.12.11.22.24.29.4.07.16.1.35.1.57 0 .41-.12.72-.35.93-.23.23-.55.33-.95.33Zm8.55-5.92c-.32-.33-.7-.59-1.14-.77-.43-.18-.92-.27-1.46-.27H12v8h2.3c.55 0 1.06-.09 1.51-.27.45-.18.84-.43 1.16-.76.32-.33.57-.73.74-1.19.17-.47.26-.99.26-1.57v-.4c0-.58-.09-1.1-.26-1.57-.18-.47-.43-.87-.75-1.2Zm-.39 3.16c0 .42-.05.79-.14 1.13-.1.33-.24.62-.43.85-.19.23-.43.41-.71.53-.29.12-.62.18-.99.18h-.91V9.12h.97c.72 0 1.27.23 1.64.69.38.46.57 1.12.57 1.99v.4ZM12 0l-.66.03 3.81 3.81 1.33-1.33c3.27 1.55 5.61 4.72 5.96 8.48h1.5C23.44 4.84 18.29 0 12 0Z' fill='%23000'/%3E%3C/svg%3E");
                width: 24px;
                height: 24px;
                z-index: 2;
            }
        }
        
        &.video{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 18px;
                background: linear-gradient(0deg, rgba(27, 27, 27, 0.32), rgba(27, 27, 27, 0.32));
                z-index: 2;
            }
            &:after{
                content: "";
                position: absolute;
                z-index: 3;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0013 3.111C8.6413 3.111 2.66797 9.08433 2.66797 16.4443C2.66797 23.8043 8.6413 29.7777 16.0013 29.7777C23.3613 29.7777 29.3346 23.8043 29.3346 16.4443C29.3346 9.08433 23.3613 3.111 16.0013 3.111ZM13.3346 22.4443V10.4443L21.3346 16.4443L13.3346 22.4443Z' fill='white'/%3E%3C/svg%3E%0A");
                width: 32px;
                height: 33px;
                top: calc(50% - 16px);
                left:calc(50% - 16px);
                transition: $default-transition;
            }
            &:hover{
                &:after{
                    transform: scale(1.1);
                }
            }
        }
    }
    
    .swiper-button-next, .swiper-button-prev{
        width: 100%;
        height: 25px;
        margin: 0;
        background: #fff;
        left: 0;
        right: 0;
        color: #000;
        transition: $default-transition;
        svg{
            fill:currentColor;
        }
        &:hover{
            color: $color-blue;
        }
    }
    .swiper-button-next{
        bottom: 0px;
        top:auto;
    }
    .swiper-button-prev{
        
        top:0px;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
        opacity: 1;
        cursor: none;
        svg{
            opacity:0.5;
        }
    }
    &-main{
        width: calc(100% - 122px);
        height: 510px;
        background: #F8F8F8;
        border-radius: 16px;
        .swiper-slide{
            
        }
        &__item{
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5Zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14Z' fill='%23000'/%3E%3Cpath d='M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1Z' fill='%23000'/%3E%3C/svg%3E");
                top: 10px;
                right: 10px;
                z-index: 2;
            }
            img{
                width:auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                position: absolute;
            }
            
            &.video{
                position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 18px;
                background: linear-gradient(0deg, rgba(27, 27, 27, 0.32), rgba(27, 27, 27, 0.32));
                z-index: 2;
                width: 100%;
                height: 100%;
            }
            &:after{
                content: "";
                position: absolute;
                z-index: 3;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0013 3.111C8.6413 3.111 2.66797 9.08433 2.66797 16.4443C2.66797 23.8043 8.6413 29.7777 16.0013 29.7777C23.3613 29.7777 29.3346 23.8043 29.3346 16.4443C29.3346 9.08433 23.3613 3.111 16.0013 3.111ZM13.3346 22.4443V10.4443L21.3346 16.4443L13.3346 22.4443Z' fill='white'/%3E%3C/svg%3E%0A");
                width: 32px;
                height: 33px;
                top: calc(50% - 16px);
                left:calc(50% - 16px);
                transition: $default-transition;
            }
            &:hover{
                &:after{
                    transform: scale(1.1);
                }
            }
        }
            
        }
    }
}
.y-product-text{
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 24px;
}

.y-product-price{
    font-weight: 300;
    font-size: 38px;
    line-height: 52px;
    margin-bottom: 30px;
}

.y-product-btns{
    @include flexbox;
    @include justify-content(space-between);
    .button{
        width: calc(50% - 10px);
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding: 18px 20px;
    }
}

.y-product-block{
    margin-bottom: 60px;
    &:last-child{
        margin-bottom: 0;
    }
    &__title{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
    }
}
.y-product-param{
    
    &__item{
        @include flexbox;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 15px;
        &-title{
            width:150px;
            padding-right: 20px;
            flex: none;
            font-weight: bold;
            opacity: 0.4;
        }
    }
}
.y-product-complect{
    .y-row{
        margin: 0 -10px -20px;
    }
    .y-col{
        padding: 0 10px 20px;
    }
    &-item{
        border: 2px solid #EEEEEE;
        border-radius: 16px;
        padding: 10px 20px 20px;
        height: 100%;
        &__img{
            height: 128px;
            position:relative;
            display: block;
            img{
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &__title{
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            padding-top: 10px;
            text-align: center;
        }
    }
    
}

@media (max-width: 1200px) {
    .equipment .y-col-3{
        width: 33.33%;
    }
    .equipment .y-col-6{
        width: 100%;
    }
    .choose-list-item{
        @include flex-wrap(wrap);
    }
    .choose-list-item__title{
        width: calc(100% - 40px);
    }
    .choose-list-item__price{
        padding-left: 50px;
        padding-top: 4px;
    }
    .y-section-product{
        &__row{
            margin-bottom: -30px;
        }
        &__col{
            padding-bottom: 30px;
            width: 100%;
        }
    }
}


//font 24px = 20px
//padding 30px = 20px;
@media (max-width: 992px) {
    .y-section {
        padding:40px 0 40px;
    }
    
    h2 {
        font-size: calc(32 / 18 * 1rem);
        line-height: calc(36/ 26 * 100%);
    }
    
    .subtitle {
        font-size: calc(16 / 18 * 1rem);
        line-height: calc(24 / 20 * 100%);
    }
    
    .y-section-equipment-top__title {
        font-size: calc(32 / 18 * 1rem);       
        line-height: calc(38 / 32 * 100%);
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .y-section-equipment-top__text{
        font-size: calc(16 / 18 * 1rem);
        line-height: calc(21.79 / 16 * 100%);
         max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .breadcrumbs{
        font-size: 12px;
        margin-bottom: 40px;
        text-align: left;
    }
    .y-section-equipment-top{
        min-height: 0;
        text-align: center;
        //padding-bottom: 440px;
        padding-bottom: 40px;
    }
    .y-section-equipment-top__image {        
        left: calc(50% - 325px);
        top: auto;
        bottom: -110px;
        display: none;
    }
    .y-section-choose__title{
        text-align: center;
    }
    .y-section-choose__text{
        text-align: center;
    }
    .section-choose__col{
        width: 100%;
    }
    .choose-list-item{
        @include flex-wrap(nowrap);
    }
    .solutions {
        margin-top: 30px;
        .y-col{
            width: 100%;
        }
    }
    .solutions-item__title, .equipment-title{
        font-size: 20px;
        line-height: 28px;
    }
    .y-section-map, .y-section-instagram{
        margin-top: 30px;
    }
    .contact-block{
        margin-top: 0;
        padding-top: 40px;
    }
    
    .contact-news-block__item{
        flex: none;
    }
    .y-section-choose-aside{
        padding: 20px;
    }
    .solutions-item{
        padding: 20px;
    }
    .choose-list-item__price{
        padding:0;
    }

    .title-h1 {
        font-size: calc(32 / 18 * 1rem);
        line-height: calc(38 / 32 * 100%);
    }
    .y-product-text{
        font-size: 15px;
        line-height: 24px;
    }
    .y-product-block{
        margin-bottom: 30px;
    }
    .y-section-choose-aside-btn{
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9;
        padding: 10px 20px;     
        background: linear-gradient(180deg, #ECECEC 0%, #F4F4F4 100%);
        border-radius: 6px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #919191;
        span{
            display:none;
        }
        &.active{
            background: linear-gradient(180deg, #1B1B1B 0%, #535353 100%);
            color: #fff;
            span{
                display:block;
                position: absolute;
                background: #06A5FF;
                border-radius: 10px;
                top: -6px;
                right: -6px;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                color: #fff;
                height: 16px;
                min-width: 16px;
                padding: 0 3px;
                text-align: center;
            }
        }
    }
    #choosen{
        display: none;
        padding: 0;
        background: none;
        .y-section-choose-aside{
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
        }
    }

    .solutions{
        margin-top: 30px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 5px;
        .swiper-wrapper{
            @include flexbox;
            margin: 0 0;
            width: 100%;
        }
        .swiper-slide{
            width: 280px;
            padding: 0 10px;
            height: auto;
        }
    }
    .y-title-box__back{
        display: none;
    }
    .y-title-box .title-h1{
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .equipment .y-col-3 {
        width: 50%;
    }
    .y-title-box{
        @include flex-wrap(wrap);
        .title-h1{
            width: 100%;
            padding-top: 10px;
        }
    }
    .y-section-equipment-top__text {
        font-size: calc(14 / 18 * 1rem);
        line-height: 19px;
        margin-bottom: 24px;
    }
    .breadcrumbs{
        white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
        margin-bottom: 24px;
        &-item{
            
            &__link{
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                vertical-align: middle;
                max-width: 40px;
            }
            &:after{
                display: inline-block;
                vertical-align: middle;
            }
            &:first-child{
                .breadcrumbs-item__link{
                    overflow:visible;
                    max-width: inherit;
                }
            }
            
           
        }
    }
    .button {
        font-size: 16px;
        line-height: 22px;
    }
    .y-section-choose__text{
        font-size: 12px;
        line-height: 18px;
    }
    .equipment-title{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .equipment {
        margin-bottom: 30px;
    }
    .y-text{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .y-text p {
        margin-bottom: 10px;
    }
    .y-text__link {
        font-size: 12px;
        line-height: 18px;
    }
    .equipment-item__title{
        font-size: 14px;
        line-height: 18px;
    }
    .equipment-instruction{
        padding: 10px;
    }
    .equipment-instruction p{
        margin-bottom: 5px;
    }
    .button_border{
        font-size: 14px;
        line-height: 19px;
    }

    .subtitle{
        font-size: calc(12 / 18 * 1rem);
        line-height: calc(16 / 12 * 100%);
    }
    .solutions-item__text{
        font-size: 12px;
        line-height: 16px;
    }
    .solutions-item__title{
        margin-bottom: 15px;
    }
    .solutions-item__list{
        line-height: 20px;
        li{
            margin-bottom: 4px;
            padding-left: 34px;
            &:last-child{
                margin-bottom: 0;
            }
            span{
                top:0;
            }
        }
    }
    

    .y-product-text {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 20px;       
    }
    
    .y-product-price{
        text-align: center;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 576px) {
    h2 {
        font-size: calc(26 / 18 * 1rem);
        font-weight: 300;
        line-height: calc(35.41/ 26 * 100%);
        text-align: center;
    }
    .y-section-equipment-top__image img{
        max-width: 280px;
    }
    .y-col{
        padding: 0 10px 20px;
    }
    .y-row{
        margin: 0 -10px -20px;
    }
    .y-section-choose__top{
        margin-bottom: 20px;
    }
    .y-product-images-block{
        @include flex-direction(column-reverse);
    }
    .y-product-images-main {
        width: 100%;
        height: 270px;
    }
    .y-product-images {
        height: 64px;
        width: auto;
        margin: 10px -15px 0;
        padding: 0 15px;
    }
    .y-product-images .swiper-slide{
        height: 64px;
        border-radius: 12px;
        width: 64px;
    }
    
    .y-product-images .swiper-button-next, .y-product-images .swiper-button-prev{
        display: none !important;
    }

    .y-product-complect .y-col{
        width: 100%;
    }
    .y-product-complect-item{
        padding: 10px 20px;
        @include flexbox;
        @include align-items(center);
        &__img{
            flex: none;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        &__title{
            padding-top: 0;
            text-align: left;
        }
    }
    .equipment .y-col-3{
        width: 100%;
        padding-bottom: 0;
        margin-bottom: -1px;
        
    }
    .equipment{
        .y-row{
            margin-bottom: 0;
        }
    }
    .equipment-item{
        margin: 0 -16px 0;
        border-width: 1px;
        border-radius: 0;
        position: relative;
        min-height: 120px;
        padding: 15px;
        border-color: #EEEEEE !important;
    }
    .equipment-item__top{
        position: relative;
        padding-left: 55px;
    }
    .equipment-item-2 .equipment-item__top{
        padding-left: 0;
    }
    .equipment-item__img{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0px;
        top: 0px;
       
    }
    .equipment-item__title{
        padding-top: 0;
    }
    
    .equipment-item__text{
        width: calc(100% - 120px);        
    }
    .equipment-item__bottom{
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 120px;
        text-align: right;
    }
    .equipment-item__top .equipment-item__link{
        display: block;
        text-align: left;
    }
    .equipment-item__bottom .equipment-item__link{
        display: none;
    }
    .equipment-item .calc{
        margin-bottom: 0;
        width: 108px;
        margin-left: auto;
    }
    .calc__input {
        width: calc(100% - 72px);
    }
    .equipment-item__title{
        font-size: 14px;
        line-height: 18px;
    }
    .equipment-item__price{
        margin-bottom: 5px;
    }
    .y-product-images .swiper-slide.image-3d:before{
        display: none;
    }
    .y-product-btns{
        @include flex-direction(column);
        .button{
            width: 100%;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    

    .y-product-param__item{
        @include flex-wrap(wrap);
        margin-bottom: 15px;
    }
    .y-product-param__item-title{
        width: 100%;
        padding-bottom: 5px;
    }
}

@media (max-width: 479px) {
    .equipment .y-col-3{
        width: 100%;
    }

}

@media (max-width: 350px) {
    .choose-list-item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .choose-list-item__price {
        padding-left: 50px;
        padding-top: 4px;
    }
   
    .y-product-param__item{
        @include flex-wrap(wrap);
        &-title{
            width:100%;
            padding-bottom: 5px;
        }
    }
    .y-product-complect .y-col{
        width: 100%;
    }
}
