/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 19/16 * 100%; 
$base-font-family: 'Lato', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */

$color-black:#1B1B1B;
$color-blue: #1AA9E8;









